.headersection {
    width: 100%;
}

.explore {
    padding-top: 0px;
}

.frame {
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    outline: none;
    border: none;
    margin: -50px auto;
}