.newrecipepage{
    width: 100%;
    background: white;
    min-height: 100vh;
    padding-bottom: 30px;
}

#details {
    padding-top: 80px;
    min-height: 100vh;
    height: auto;
    padding-bottom: 30px;
    max-width: 90%;
    margin: auto;
    font-family: 'Poppins';
    font-size: 20px;
    color: rgb(47, 47, 47);
}


.detdiv {
    background: rgb(66, 66, 255);
    color: white;
    padding: 30px;
    border-radius: 20px;
}

#details input {
    background: none;
    border: none;
    padding: 5px 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 300px;
    outline: none;
    font-size: 20px;
    font-family: 'Poppins';
    color: white;
}

.editor-input {
    height: 50vh;
}

.editor-input img{
   width: 100%;
}
