.mainface {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background: rgb(12, 12, 12);
    min-height: 100vh;
}

.navigate {
    position: fixed;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.2%;
    border-radius: 12px;
    left: 1%;
    background: rgba(255, 255, 255, 0.081);
    color: rgb(255, 255, 255);
    z-index: 2;
}

.sidebar {
    position: fixed;
    z-index: 9999;
    transition: transform 0.3s;
}

.right {
    width: 100%;
}